:root { 
    --mainc1 : #123A3B;
    --mainc2: #148C6C;
    --mainc3: #F2FAF7;
    --bg1: #FDFBF6;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    background-color: var(--bg1);
}

.num-ademe{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.label{
    font-size: 16px;
}

input{
    border: 1px solid black !important;
    outline: none !important;
    border-radius: 5px;
    padding: 10px;
}

.submit{
    border-radius: 5px;
    background-color: var(--mainc1);
    padding: 10px;
    color: white;
    transition: 0.3s;
    border: none !important;
    font-family: "Inter", sans-serif;
    width: 20%;
}

.submit:hover{
    background-color: var(--mainc2);
    transition: 0.3s;
}